﻿@model RemoteSigning.Models.TC

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.5/sweetalert2.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.5/sweetalert2.min.js"></script>
<style>

#countdown {
  position: relative;
  margin: auto;
 
  height: 40px;
  width: 40px;
  text-align: center;
}

#countdown-number {
  color: red;
  display: inline-block;
  line-height: 40px;
}

svg {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  transform: rotateY(-180deg) rotateZ(-90deg);
}

svg circle {
  stroke-dasharray: 113px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 2px;
  stroke: red;
  fill: none;
  animation: countdown 140s linear infinite forwards;
}

@@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 113px;
  }
}
</style>

@Html.ValidationSummary(true)
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" title="Close" id="close">
        <span aria-hidden="true">
            ×
        </span>
        <span class="sr-only">
            Close
        </span>
    </button>

    <h4 class="modal-title">
       Autorizim
    </h4>
    <div class="text-info">Ju lutem vendosni kodin e derguar ne numrin tuaj te telefonit.</div>
</div>

<div id="countdown">
   
    <div id="countdown-number"></div>
    <svg>
        <circle r="18" cx="20" cy="20"></circle>
    </svg>
</div>
<div class="modal-body">



  

    <div class="row">
        <div class="col-md-12 text-center">
            <div class="text-danger" id="mesazhi"></div>
            <br />
            <label class="label-fat text-center" for="otp">
                Kodi i autorizimit
            </label>

            <input type="number" name="otp" class="form-control center-block" required="required" id="code" maxlength="6" placeholder="Plotësoni kodin e autorizimit">
        </div>
    </div>
</div>
<div class="col-md-12 text-center">
  
    <input type="submit" value="Konfirmo" class="btn btn-success center-block" id="confirm" />

</div>


<script type="text/javascript">

 
    $(document).ready(function ()
    {
        var countdownNumberEl = document.getElementById('countdown-number');
        var countdown = 140;

        countdownNumberEl.textContent = countdown;

        setInterval(function () {
            countdown = --countdown <= 0 ? 140 : countdown;
            if (countdown == 0) {
                $("#close").click();
                countdown = 140;
                
            }
            else
            {
                countdownNumberEl.textContent = countdown;
            }
           
        }, 1000);

        

                $(document).on('click', '#confirm', function () {




                    var code = $("#otp").val();
                    $.ajax({
                        url: '@Url.Action("/AuthorizeSigning")',
                        type: "POST",
                        data: {
                        "code":code},
                        success: function (result) {


                            if (result.success == true) {
                                $("#close").click();
                                    getsigned();
                                    }

                                    else {
                                    sweetAlert({
                                        title: "<small>Error</small>",
                                        text: result.responseText,
                                        html: result.responseText,
                                        type: "error"
                                    });
                                }


                            },
                            error: function (result) {

                                sweetAlert({
                                    title: "<small>Error</small>",
                                    text: result.responseText,
                                    html: result.responseText,
                                    type: "error"
                                });

                            }

                        });
                        return false;

                });



    function getsigned() {
        window.location = '/Home/GetSignaturesAsync';
    }



    });
</script>


