﻿@model RemoteSigning.Models.RNE_Enrolment

@Scripts.Render("~/Scripts/jquery-3.3.1.js")
@Scripts.Render("~/Scripts/jquery-3.3.1.min.js")
@Scripts.Render("~/Scripts/jquery.validate.min.js")
@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
@Scripts.Render("~/Scripts/jquery.validate.unobtrusive.min.js")

@{

    Layout = "~/Views/Shared/Kryesore.cshtml";
}


@{
    ViewBag.Title = "ChangePassword";
}




<div class="gg-headertext">
    <br />
    Ndrysho fjalëkalimin

</div>

@using (Html.BeginForm("ChangePass", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    @Html.ValidationMessage("error")
    <fieldset>
        <legend></legend>

        <div class="editor-label">
            <label for="pwd">Fjalëkalimi:</label>
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.Password, new { htmlAttributes = new { @class = "form-input gg-form-input form-control rounded-0", name = "passord", value = Model.Password } })
        </div>

        <div class="editor-label">
            <label for="confirm-pwd">Konfirmo Fjalëkalimin:</label>
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", name = "passord", value = Model.ConfirmPassword } })
        </div>


        <br />
        <div class="editor-label">
            <p>
                <i>
                    * Gjatësia e fjalëkalimit duhet të jetë minimumi 12 karaktere, të ketë minimumi nje shkronje kapitale, minimumi nje karakter i vecante (#,$ etj) dhe minimumi nje numer (0-9)
                </i>
            </p>
        </div>
        <br />
        <div class="form-group">
            <input type="submit" value="Ruaj" class="btn ealb-btn center-block" />
        </div>
    </fieldset>
}



