﻿@model RemoteSigning.Models.TC
@{

    Layout = "~/Views/Shared/Kryesore.cshtml";
}

@{
    ViewBag.Title = "Home Page";
}

@Scripts.Render("~/Scripts/jquery-3.3.1.js")
@Scripts.Render("~/Scripts/jquery-3.3.1.min.js")
@Scripts.Render("~/Scripts/jquery.validate.min.js")
@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
@Scripts.Render("~/Scripts/jquery.validate.unobtrusive.min.js")
@Scripts.Render("~/Scripts/jquery-3.3.1.js")
@Styles.Render("~/css/ladda-themeless.min.css")
@Scripts.Render("~/Scripts/spin.min.js")
@Scripts.Render("~/Scripts/ladda.js")
@Scripts.Render("~/Scripts/ladda.min.js")

<style>
    .modal {
        text-align: center;
    }

    @@media screen and (min-width: 768px) {
        .modal:before {
            display: inline-block;
            vertical-align: middle;
            content: " ";
            height: 100%;
        }
    }

    .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
    }
</style>

<script type="text/javascript">
    var myvar = 0;

    

    function test() {
         $.ajax({
                    url: '@Url.Action("/UploadFilesforSigning")',
                    type: "POST",
                     cache: false,
             success: function (result) {
                
                     Dropzone.forElement('#dropzoneForm').removeAllFiles();
                     
                     if (result.success == true) {
                         console.log(result.success);

                         console.log("Successfully uploaded :");
                         var countdownNumberEl = document.getElementById('countdown-number');
                         var countdown = 120;
                         clearInterval(countdownNumberEl);
                         $("#otp").val("");
                         $('#modal-authorize').modal('show');
                         $("#mesazhi").text("");


                         countdownNumberEl.textContent = countdown;

                         myvar = setInterval(function () {
                             countdown = --countdown <= 0 ? 120 : countdown;
                             console.log(countdown);
                             if (countdown == 1) {

                                 clearInterval(myvar);
                                 countdownNumberEl.textContent = 120;
                                 location.reload();

                             }
                             else {
                                 countdownNumberEl.textContent = countdown;

                             }

                         }, 1000);

                     }
                     else {
                         swal({
                             title: "<small>Kujdes!</small>",
                             text: result.responseText,
                             html: result.responseText,
                             type: "error"

                         });
                         Dropzone.forElement('#dropzoneForm').removeAllFiles(true);
                     }

                 
             },
                    error: function (result) {

                        swal({
                            title: "<small>Kujdes!</small>",
                            text: "Ka ndodhur një problem gjatë nënshkrimit të fileve",
                            html: "Ka ndodhur një problem gjatë nënshkrimit të fileve",
                            type: "error"

                        });

                    }

                });
    }

</script>

<style>
</style>


<div class="jumbotron">

    <form action="~/Home/UploadFiles" method="post" enctype="multipart/form-data" class="dropzone" id="dropzoneForm">
        <div class="fallback">
            <input id="files" name="file" type="file" multiple />

        </div>


    </form>
    <br />
    <br />
    <div class="col text-center">
        
        <input type="button" value="Shkarkoni dokumentat e nënshkruara" class="btn ealb-btn" id="signn" onclick="test();" />
    </div>
</div>

    <br>
    <div class="row">
        <div class="col-sm-12">
            <h3 class="panel-title">Kujdes!</h3>
        </div>

        <ul >

            <li>Dokumentat e ngarkuara duhet të jenë në format <strong>PDF</strong> </li>
            <li>Madhësia maksimale e dokumentit të ngarkuar është <strong> 10MB </strong> </li>
            <li>Ju mund të tërhiqni <strong>(drag&amp;drop)</strong> dokumentat nga desktopi juaj në aplikacion</li>
            <li>Koha maksimale gjatë së cilës mund të vendosni kodin e autorizimit është <strong>2 min</strong></li>
            <li>Nëse jeni duke nënshkruar për herë të parë, procesi mund të zgjasë. Ju lutem prisni ndërkohë që dokumentat tuaja nënshkruhen.</li>
            <li>Numri maksimale i fileve të lejuara për ngarkim është <strong> 15 </strong> </li>
        </ul>

    </div>



    <div class="modal inmodal fade" id="modal-authorize" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" id="auth">
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.5/sweetalert2.min.css">
                <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.5/sweetalert2.common.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.5/sweetalert2.min.js"></script>
                <style>

                    #countdown {
                        position: relative;
                        margin: auto;
                        height: 40px;
                        width: 40px;
                        text-align: center;
                    }

                    #countdown-number {
                        color: red;
                        display: inline-block;
                        line-height: 40px;
                    }

                    svg {
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 40px;
                        height: 40px;
                        transform: rotateY(-180deg) rotateZ(-90deg);
                    }

                        svg circle {
                            stroke-dasharray: 113px;
                            stroke-dashoffset: 0px;
                            stroke-linecap: round;
                            stroke-width: 2px;
                            stroke: red;
                            fill: none;
                            animation: countdown 120s linear infinite forwards;
                        }

                    @@keyframes countdown {
                        from {
                            stroke-dashoffset: 0px;
                        }

                        to {
                            stroke-dashoffset: 113px;
                        }
                    }
                </style>

                @Html.ValidationSummary(true)
                <div class="modal-header">


                    <h4 class="modal-title">
                        Ju lutem vendosni kodin e derguar ne numrin tuaj te telefonit.
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" title="Close" id="close">
                        <span aria-hidden="true">
                            ×
                        </span>
                        <span class="sr-only">
                            Close
                        </span>
                    </button>
                </div>
                <div id="koha">
                    <div style="color:red; text-align:center">Koha e mbetur</div>


                    <div id="countdown">
                        <div id="countdown-number"></div>
                        <svg>
                            <circle r="18" cx="20" cy="20"></circle>
                        </svg>
                    </div>

                    <div style="color:red ; text-align:center">sekonda</div>
                </div>

                <div class="modal-body">
                    <div class="row" style="max-width: fit-content;">
                 
                        <div class="col-md-12 text-center">
                            <div class="text-danger" id="mesazhi" style="width:100%"></div>
                        </div>
                        
                    </div>
                    <div class="row">


                        <br />
                        <div class="col-md-12 text-center">

                            <label class="label-fat text-center" for="otp">
                                Kodi i autorizimit
                            </label>

                            <input name="otp" maxlength="6" type="text" class="form-control center-block" required="required" id="otp" placeholder="Plotësoni kodin e autorizimit" style="text-align:center">

                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12 text-center">

                            <input type="submit" value="Konfirmo" class="btn ealb-btn center-block" id="confirm" />

                        </div>
                    </div>
                </div>
                <script type="text/javascript">


    $(document).ready(function ()
    {

                $(document).on('click', '#confirm', function () {

                    var l = Ladda.create(this);

                    clearInterval(myvar);
                    var code = $("#otp").val();
                    if (code == "" || code == "0") {
                        $("#mesazhi").text("Plotësoni kodin 6 shifror!");
                        return;
                    }
                    $("#mesazhi").text("Nëse jeni duke nënshkruar për herë të parë, procesi mund të zgjasë. Ju lutem prisni ndërkohë që dokumentat tuaja nënshkruhen.");
                    var koha = document.getElementById('koha');
                    koha.style.display="none";
                    l.start();
                    $.ajax({
                        url: '@Url.Action("/AuthorizeSigning")',
                        type: "POST",
                        data: {
                        "code":code},
                        success: function (result) {


                            if (result.success == true) {
                                l.stop();
                                $("#close").click();
				                getsigned();
                                sweetAlert({
                                    title: "<small>Sukses</small>",
                                    text: "Dokumentet tuaja të nënshkruara elektronikisht u shkarkuan me sukses!",
                                    html: "Dokumentet tuaja të nënshkruara elektronikisht u shkarkuan me sukses!",
                                    type: "success"
                                });

                                clearInterval(myvar);

                                var countdownNumberEl = document.getElementById('countdown-number');
                                countdownNumberEl.textContent = 120;
                                var koha = document.getElementById('koha');
                                koha.style.display = "block";
                             }

                            else {
                                l.stop();
                                    sweetAlert({
                                        title: "<small>Error</small>",
                                        text: result.responseText,
                                        html: result.responseText,
                                        type: "error"
                                });
                                clearInterval(myvar);
                                var countdownNumberEl = document.getElementById('countdown-number');
                                countdownNumberEl.textContent = 120;
                                countdown1();
                                var koha = document.getElementById('koha');
                                koha.style.display = "block";
                                $("#mesazhi").text("");
                                }


                            },
                            error: function (result) {

                                sweetAlert({
                                    title: "<small>Error</small>",
                                    text: result.responseText,
                                    html: result.responseText,
                                    type: "error"
                                });
                                clearInterval(myvar);
                                var countdownNumberEl = document.getElementById('countdown-number');
                                countdownNumberEl.textContent = 120;
                                var koha = document.getElementById('koha');
                                koha.style.display = "block";
                                $("#mesazhi").text("");
                            }

                        });
                        return false;

                });



    function getsigned() {
        window.location = '/Home/GetSignaturesAsync';

        }

        function countdown1() {
            var countdown = 120;
            var countdownNumberEl = document.getElementById('countdown-number');
            countdownNumberEl.textContent = countdown;

            myvar = setInterval(function () {
                countdown = --countdown <= 0 ? 120 : countdown;
                console.log(countdown);
                if (countdown == 1) {

                    clearInterval(myvar);
                    countdownNumberEl.textContent = 120;
                    location.reload();

                }
                else {
                    countdownNumberEl.textContent = countdown;

                }

            }, 1000);
        }



    });
                </script>

            </div>
        </div>
    </div>
    <style type="text/css">

        .dz-max-files-reached {
            background-color: red;
        }
    </style>
    @section scripts{
        <script type="text/javascript">
            var i = 0;
           
                //File Upload response from the server

            Dropzone.options.dropzoneForm = {
                dictDefaultMessage: "",
                paramName: "files",
                maxFiles: 15,
                acceptedFiles: 'application/pdf',
                uploadMultiple: false,
                parallelUploads: 15,
                maxFilesize: 10,
                init: function () {
                    this.on("maxfilesexceeded", function (data) {
                        var res = eval('(' + data.xhr.responseText + ')');

                    });
                    var _this = this;


                  


                    this.on("addedfile", function (file) {
                        
                            // Create the remove button
                            var removeButton = Dropzone.createElement("<div style=\"width:100px;\"><button>Fshi dokument</button></div>");
                            //var textboxfill = Dropzone.createElement("<div style=\"width:140px;padding-top: 5px;padding-bottom: 5px;\">Nr. maksimal i firmave" + nr_firmave+"</div>");
                            i++;
                            // Capture the Dropzone instance as closure.



                            // Listen to the click event
                            removeButton.addEventListener("click", function (e) {
                                // Make sure the button click doesn't submit the form:
                                e.preventDefault();
                                e.stopPropagation();
                                // Remove the file preview.
                                _this.removeFile(file);
                                // If you want to the delete the file on the server as well,
                                // you can do the AJAX request here.
                            });

                            // Add the button to the file preview element.
                            //file.previewElement.appendChild(textboxfill);
                        file.previewElement.appendChild(removeButton);
                   


                        });
                    },
                success: function (file, response) {
                    console.log(response.status);
                    if (response.status == 2) {

                        swal({
                            text: "Sa firma maksimalisht do të permbaje ky dokument?",
                            input: "number",
                            content: "input",
                            allowOutsideClick: false

                        })
                            .then((value) => {

                                if (value == 0 || value == null || value  > 100 ) {
                                    sweetAlert({
                                        title: "<small>Kujdes!</small>",
                                        text: "Numri i firmave i lejuar per nje dokument ështe midis 1 dhe 100",
                                        html: "Numri i firmave i lejuar per nje dokument ështe midis 1 dhe 100",
                                        type: "error",
                                        allowOutsideClick: false

                                    }).then(function () {
                                        swal({
                                            text: "Sa firma maksimalisht do të permbaje ky dokument?",
                                            input: "number",
                                            content: "input",
                                            allowOutsideClick: false

                                        })
                                            .then((value) => {

                                                if (value == 0 || value == null) {
                                                    sweetAlert({
                                                        title: "<small>Kujdes!</small>",
                                                        text: "Plotësoni numrin maksimal të firmave për dokumentin e ngarkuar",
                                                        html: "Plotësoni numrin maksimal të firmave për dokumentin e ngarkuar",
                                                        type: "error",
                                                        allowOutsideClick: false

                                                    });

                                                }
                                                else {
                                                    AddSignatureNumbersPerDocument(value);
                                                    file.previewElement.classList.add("dz-success");
                                                }


                                            });
                                    });
                                 
                                }
                                else {
                                    AddSignatureNumbersPerDocument(value);
                                    file.previewElement.classList.add("dz-success");
                                }


                            });
                    }
                    else if (response.status == 1) {
                        file.previewElement.classList.add("dz-success");
                    }
                    else
                    {
                        $(file.previewElement).find('.dz-error-message').text("Ky dokument ka arritur numrin maksimal të lejuar të nënshkrimeve");
                        file.previewElement.classList.add("dz-error");
                    }
                        

                    },
                    error: function (file, response) {
                        swal({
                            title: "<small>Kujdes!</small>",
                            text: "Ka ndodhur një problem gjatë nënshkrimit të fileve",
                            html: response.responseText,
                            type: "error"

                        });
                    }
                };

      
            

            
        </script>

        <script type="text/javascript">
        $(document).ready(function () {
            $('#modal-authorize').on('hidden.bs.modal', function (e) {
                // do something...
                clearInterval(myvar);

            })
           

        });


            function AddSignatureNumbersPerDocument(nrsign)
            {
                 $.ajax({
                    url: '@Url.Action("/SaveSignatureNumbersPerDocument")',
                    type: "POST",
                     cache: false,
                     data: {
                         "number": nrsign
                     },
                    success: function (result) {
                        if (result.success == true) {
                            return true;
                        }

                    },
                    error: function (result) {

                        return false;

                    }

                });
            }

            
        </script>
    }
