﻿@model RemoteSigning.Models.TC


@Scripts.Render("~/Scripts/jquery-3.3.1.js")
@Scripts.Render("~/Scripts/jquery-3.3.1.min.js")
@Scripts.Render("~/Scripts/jquery.validate.min.js")
@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
@Scripts.Render("~/Scripts/jquery.validate.unobtrusive.min.js")
@{
    ViewBag.Title = "Sign";
}
<style type="text/css">
    #modal-add-file-sales-saisie #step2 p {
        font-size: 20px;
    }

    .btn-primary.disabled {
        background-color: #f88d59;
    }
    /* Idepot Accounting File*/
    #modal-add-file-sales-saisie #step1 p {
        font-size: 20px;
    }

    #modal-add-file-sales-saisie #step1 button {
        padding-top: 17px;
    }

    .selectMonth.active, .selectMonth.active:hover {
        background-color: #7fdda5;
    }

    .tooltip-inner {
        max-width: 350px;
        width: 350px;
    }

    .progress {
        margin-bottom: 0px;
        background: white;
    }

    .dz-error .dropzone-error {
        position: absolute;
        background: rgba(255,255,255,0.8);
        min-height: 68px;
        text-align: center;
        padding-top: 19px;
        margin-top: -8px;
    }

    div#template1 {
        padding-top: 8px;
        min-height: 70px;
        border: 1px solid white;
    }
</style>
<h2>Sign</h2>

@if (Model.type == "1")
{
    <script type="text/javascript">
        $(document).ready(function () {

            $('#modal-authorize').modal('show');

        });
    </script>
}
@using (Html.BeginForm("UploadFiles", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="custom-file">
        <input type="file" class="custom-file-input" id="validatedCustomFile" multiple required name="files">

    </div>

    <br />

    <div class="form-group">
        <input type="submit" value="Sign" class="btn btn-success" />
    </div>
}
<div class="modal inmodal fade" id="modal-authorize" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="auth">
            @Html.Partial("Authorization", Model);
        </div>
    </div>
</div>



