﻿@model RemoteSigning.Models.TC

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" title="Close">
            <span aria-hidden="true">
                ×
            </span>
            <span class="sr-only">
                Close
            </span>
        </button>

        <h4 class="modal-title">
            Terms&Conditions
        </h4>
        <p class="m-t" style="font-size: 15px;">

        </p>
    </div>

        <div class="modal-body">
            <div class="row">
                <object data="data:application/pdf;base64,@Convert.ToBase64String(Model.Data)" width="900" height="600" type="application/pdf"> </object>
            </div>
        </div>
        <div class="col-md-12 text-center">

            <input type="submit" value="Accept" class="btn btn-success center-block" />

        </div>


