﻿@model RemoteSigning.Models.RNE_Enrolment

@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login V1</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="~/css/main.min.css">
    <!--===============================================================================================-->
</head>
<body>

    <div class="py-4">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">




                    <div class="gg-headertext">
                        Kodi i autorizimit

                    </div>


                    @if (ViewBag.Message != "")
                    {
                        <div class="alert alert-light border border-danger rounded-0 text-danger" id="mesazhi">@ViewBag.Message</div>
                    }

                </div>
            </div>
            @using (Html.BeginForm("AuthorizeSms", "Login", FormMethod.Post, new { @class = "gg-form-wrapper-login" }))
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <div class="input-group form-group gg-form-group">
                            <div class="input-group-prepend">

                                <span class="input-group-text rounded-0">
                                    <svg class="svg-inline--fa fa-key fa-w-16" aria-hidden="true" data-fa-processed="" data-prefix="fas" data-icon="key" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                        <path fill="currentColor" d="M512 176.001C512 273.203 433.202 352 336 352c-11.22 0-22.19-1.062-32.827-3.069l-24.012 27.014A23.999 23.999 0 0 1 261.223 384H224v40c0 13.255-10.745 24-24 24h-40v40c0 13.255-10.745 24-24 24H24c-13.255 0-24-10.745-24-24v-78.059c0-6.365 2.529-12.47 7.029-16.971l161.802-161.802C163.108 213.814 160 195.271 160 176 160 78.798 238.797.001 335.999 0 433.488-.001 512 78.511 512 176.001zM336 128c0 26.51 21.49 48 48 48s48-21.49 48-48-21.49-48-48-48-48 21.49-48 48z"></path>
                                    </svg><!-- <em class="fas fa-key"></em> -->
                                </span>
                            </div>
                            <label for="kodi" class="form-label gg-form-label gg-form-label-required"></label>
                            <input name="kodi" id="kodi" maxlength="6" type="text" class="form-control center-block" @*required="required"*@ placeholder="Plotësoni kodin e autorizimit" style="text-align:center">

                        </div>

                        <div class="editor-label">
                            <p>
                                <i>
                                    *Ju lutem vendosni kodin e derguar ne numrin tuaj te telefonit për të ndryshuar fjalëkalimin.
                                </i>
                            </p>
                        </div>
                        <div class="container-login100-form-btn">
                            <button type="submit" id="ruaj" class="btn btn-primary mt-3 gg-btn--primary">
                                Ruaj
                            </button>

                        </div>

                    </div>
                </div>
            }

        </div>
    </div>





    <!--===============================================================================================-->
    <script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/bootstrap/js/popper.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/tilt/tilt.jquery.min.js"></script>
    <script>
            $('.js-tilt').tilt({
                scale: 1.1
            })
    </script>
    <!--===============================================================================================-->
    <script src="~/js/main.js"></script>

    <script>


        function saveData() {
            $.ajax({
                type: 'POST',
                url: "/Login/SaveFirstLoginPass",
                //async: false,
                success: function (result) {
                    //alert(result);
                    if (result) {
                        window.location = '/Home/SignNew';
                    } else {
                        alert("Gabim");
                        location.reload();
                    }
                },
                error: function () {
                    alert("Te dhenat nuk u ruajten");
                }
            });
        }




        //if ($('#mesazhi').html() === "Sukses!" || $('#mesazhi').text()) {}

        //$('#ruaj').on('click', function (e) {
        //    e.preventDefault();

        //    var kodi = $('#kodi').val();
        //    $.ajax({
        //        type: 'POST',
        //        url: "/Login/ConfirmSms",
        //        //async: false,
        //        data: 'kodi' : kodi,
                
        //        error: function () {
        //            return false;
        //        }
        //    }).success(saveData());
            

        //});
      
        function confirm() {
            var kodi = $('#kodi').val();

            $.ajax({
                type: 'POST',
                url: "/Login/ConfirmSms",
                data: { 'kodi': kodi },
                success: function (response) {
                    return response;
                },
                error: function () {
                    return false;
                }
            });
        }


        //$('#ruaj').on('click', function (e) {
        //    e.preventDefault();


        //    //confirm();
        //    console.log(confirm());


        //});


    </script>
</body>

</html>

