﻿@model RemoteSigning.Models.RNE_Enrolment

@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login V1</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="~/css/main.min.css">
    <!--===============================================================================================-->
</head>
<body>

    <div class="py-4">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">




                    <div class="gg-headertext">
                        <strong> Konfirmoni identitetin tuaj për të ndryshuar fjalëkalimin</strong>

                    </div>


                    @if (ViewBag.MessageForgot != "" && ViewBag.MessageForgot != null)
                    {
                        <div class="alert alert-light border border-danger rounded-0 text-danger" id="mesazhi">@ViewBag.MessageForgot</div>
                    }

                </div>
            </div>
            @using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post, new { @class = "gg-form-wrapper-login" }))
            {
                @Html.AntiForgeryToken()

                <div class="row">
                    <div class="col-sm-12">
                        <input type="radio" name="lloji_apl" value="qytetar" style="display:inline" checked> <span class="gg-headertext" style="
    padding-left: 5px;
    padding-right: 15px;
">Qytetar</span>
                        <input type="radio" name="lloji_apl" value="punonjës" style="display:inline"> <span class="gg-headertext" style="
    padding-left: 5px;
    padding-right: 15px;
">Punonjës Qeveritar</span>
                        <br />
                        <br />
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <div class="input-group form-group gg-form-group gg-form-focused">
                            <div class="input-group-prepend">
                                <span class="input-group-text rounded-0">
                                    <svg class="svg-inline--fa fa-user fa-w-16" aria-hidden="true" data-fa-processed="" data-prefix="fas" data-icon="user" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                        <path fill="currentColor" d="M256 0c88.366 0 160 71.634 160 160s-71.634 160-160 160S96 248.366 96 160 167.634 0 256 0zm183.283 333.821l-71.313-17.828c-74.923 53.89-165.738 41.864-223.94 0l-71.313 17.828C29.981 344.505 0 382.903 0 426.955V464c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48v-37.045c0-44.052-29.981-82.45-72.717-93.134z"></path>
                                    </svg><!-- <em class="fas fa-user"></em> -->
                                </span>
                            </div>
                            <label for="MainContent_txtUserName" id="MainContent_lbltxtUserNameLabel" class="form-label gg-form-label gg-form-label-required"></label>
                            @Html.EditorFor(model => model.NID, new { htmlAttributes = new { @class = "form-input gg-form-input form-control rounded-0", name = "username", placeholder = "Vendosni kodin e përdoruesit(NID)", id = "NID" } })

                        </div>

                        <div class="editor-label">
                            <p>
                                <i>
                                    Vendosni kodin e përdoruesit (NID/NUIS) si edhe zgjidhni llojin e llogarisë për të cilën doni të ndryshoni fjalëkalimin
                                </i>
                            </p>
                        </div>
                        <div class="container-login100-form-btn">
                            <button type="submit" id="ruaj" class="btn btn-primary mt-3 gg-btn--primary">
                                Ridërgo fjalëkalimin
                            </button>

                        </div>

                    </div>
                </div>
            }

        </div>
    </div>





    <!--===============================================================================================-->
    <script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/bootstrap/js/popper.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/tilt/tilt.jquery.min.js"></script>
    <script>
            $('.js-tilt').tilt({
                scale: 1.1
            })
    </script>
    <!--===============================================================================================-->
    <script src="~/js/main.js"></script>

    <script>


        function saveData() {
            $.ajax({
                type: 'POST',
                url: "/Login/SaveFirstLoginPass",
                //async: false,
                success: function (result) {
                    //alert(result);
                    if (result) {
                        window.location = '/Home/SignNew';
                    } else {
                        alert("Gabim");
                        location.reload();
                    }
                },
                error: function () {
                    alert("Te dhenat nuk u ruajten");
                }
            });
        }




        //if ($('#mesazhi').html() === "Sukses!" || $('#mesazhi').text()) {}

        //$('#ruaj').on('click', function (e) {
        //    e.preventDefault();

        //    var kodi = $('#kodi').val();
        //    $.ajax({
        //        type: 'POST',
        //        url: "/Login/ConfirmSms",
        //        //async: false,
        //        data: 'kodi' : kodi,
                
        //        error: function () {
        //            return false;
        //        }
        //    }).success(saveData());
            

        //});
      
        function confirm() {
            var kodi = $('#kodi').val();

            $.ajax({
                type: 'POST',
                url: "/Login/ConfirmSms",
                data: { 'kodi': kodi },
                success: function (response) {
                    return response;
                },
                error: function () {
                    return false;
                }
            });
        }


        //$('#ruaj').on('click', function (e) {
        //    e.preventDefault();


        //    //confirm();
        //    console.log(confirm());


        //});


    </script>
</body>

</html>

