﻿@model RemoteSigning.Models.RNE_Enrolment

@{

    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
  
    <link rel="stylesheet" type="text/css" href="~/css/main.min.css">

    <!--===============================================================================================-->
    <style>
        .success-msg {
            color: #270;
            background-color: #DFF2BF;
        }
    </style>
</head>
<body>
    
        <div class="py-4">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="gg-form-wrapper-login">

                            @using (Html.BeginForm("Index", "Login", FormMethod.Post, new { @class = "gg-form-wrapper-login" }))
                            {


                                <div class="gg-headertext" style="font-size: 18px;">
                                    Identifikimi

                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <input type="radio" name="lloji_apl" value="qytetar" style="display:inline" checked> <span class="gg-headertext" style="
    padding-left: 5px;
    padding-right: 15px;
">Punonjës biznesi</span>
                                        <input type="radio" name="lloji_apl" value="punonjës" style="display:inline"> <span class="gg-headertext" style="
    padding-left: 5px;
    padding-right: 15px;
">Punonjës qeveritar</span>
                                        <br />
                                        <br />
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-4">

                                        @if (ViewBag.Message != "" && ViewBag.Message != null)
                                        {
                                            <div class="alert alert-light border border-danger rounded-0 text-danger">@ViewBag.Message</div>

                                        }
                                        @if (ViewBag.Msg != "" && ViewBag.Msg != null)
                                        {
                                            <div class="success-msg">
                                                <i class="fa fa-check"></i>
                                                @ViewBag.Msg
                                            </div>

                                        }
                                        <br />

                                        <div class="input-group form-group gg-form-group gg-form-focused">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text rounded-0">
                                                    <svg class="svg-inline--fa fa-user fa-w-16" aria-hidden="true" data-fa-processed="" data-prefix="fas" data-icon="user" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                        <path fill="currentColor" d="M256 0c88.366 0 160 71.634 160 160s-71.634 160-160 160S96 248.366 96 160 167.634 0 256 0zm183.283 333.821l-71.313-17.828c-74.923 53.89-165.738 41.864-223.94 0l-71.313 17.828C29.981 344.505 0 382.903 0 426.955V464c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48v-37.045c0-44.052-29.981-82.45-72.717-93.134z"></path>
                                                    </svg><!-- <em class="fas fa-user"></em> -->
                                                </span>
                                            </div>
                                            <label for="MainContent_txtUserName" id="MainContent_lbltxtUserNameLabel" class="form-label gg-form-label gg-form-label-required"></label>
                                            @Html.EditorFor(model => model.NID, new { htmlAttributes = new { @class = "form-input gg-form-input form-control rounded-0", name = "username", placeholder = "Vendosni kodin e përdoruesit(NID)", id = "NID" } })

                                        </div>

                                        <div class="input-group form-group gg-form-group">
                                            <div class="input-group-prepend">

                                                <span class="input-group-text rounded-0">
                                                    <svg class="svg-inline--fa fa-key fa-w-16" aria-hidden="true" data-fa-processed="" data-prefix="fas" data-icon="key" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                        <path fill="currentColor" d="M512 176.001C512 273.203 433.202 352 336 352c-11.22 0-22.19-1.062-32.827-3.069l-24.012 27.014A23.999 23.999 0 0 1 261.223 384H224v40c0 13.255-10.745 24-24 24h-40v40c0 13.255-10.745 24-24 24H24c-13.255 0-24-10.745-24-24v-78.059c0-6.365 2.529-12.47 7.029-16.971l161.802-161.802C163.108 213.814 160 195.271 160 176 160 78.798 238.797.001 335.999 0 433.488-.001 512 78.511 512 176.001zM336 128c0 26.51 21.49 48 48 48s48-21.49 48-48-21.49-48-48-48-48 21.49-48 48z"></path>
                                                    </svg><!-- <em class="fas fa-key"></em> -->
                                                </span>
                                            </div>
                                            <label for="MainContent_txtPassword" class="form-label gg-form-label gg-form-label-required"></label>
                                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-input gg-form-input form-control rounded-0", name = "passwod", placeholder = "Vendosni fjalëkalimin", id = "password", type = "password" } })

                                        </div>
                                        <a id="MainContent_lnkResetPassword" class="clearfix gg-textlinks" role="button" aria-expanded="false" aria-controls="collapseExample" href="/Login/ForgotPassword">Kam humbur fjalëkalimin</a>
                                        <div class="container-login100-form-btn">

                                            <button type="submit" class="btn btn-primary mt-3 gg-btn--primary">
                                                Hyr
                                            </button>




                                        </div>
                                        <br />
                                        •	Në kuadratin e parë duhet të vendosni numrin tuaj unik identifikues (NID) në formatin X12345678Y.
                                        <br />
                                        •	Në kuadratin e dytë duhet të vendosni fjalëkalimin tuaj për të aksesuar platformën.
                                        <br />
                                        •	Nëse po aksesoni platformën për herë të parë, duhet të vendosni fjalekalimin e ardhur me sms në numrin tuaj të telefonit, të cilin pas log-imit për herë të parë jeni të detyruar ta ndryshoni.
                                        <br />

                                    </div>
                                </div>

                            }
                        </div>
                            </div>
                        </div>
                        </div>
            </div>
        

   


        <!--===============================================================================================-->
        <script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
        <!--===============================================================================================-->
        <script src="~/vendor/bootstrap/js/popper.js"></script>
        <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
        <!--===============================================================================================-->
        <script src="~/vendor/select2/select2.min.js"></script>
        <!--===============================================================================================-->
        <script src="~/vendor/tilt/tilt.jquery.min.js"></script>
        <script>
            $('.js-tilt').tilt({
                scale: 1.1
            })
        </script>
        <!--===============================================================================================-->
        <script src="~/js/main.js"></script>

    </body>
</html>