﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/dropzonescss")
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            margin: 50px;
            font-family: Arial, Helvetica, sans-serif;
        }

        .header {
            overflow: hidden;
            padding: 20px 10px;
            background: linear-gradient(-135deg, #c850c0, #4158d0);
        }

            .header a {
                float: left;
             
                text-align: center;
                padding: 12px;
                text-decoration: none;
                font-size: 18px;
                line-height: 25px;
                border-radius: 4px;
            }

                .header a.logo {
                    font-size: 25px;
                    font-weight: bold;
                    color: white
                }



        .header-right {
            float: right;
            color: white
        }
        .lista {
            color:white
        }

        .lista:hover {
            color: white
        }

        @@media screen and (max-width: 500px) {
            .header a {
                float: none;
                display: block;
                text-align: left;
                
            }

            .header-right {
                float: none;
            }
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="header">
            @Html.ActionLink("Nënshkrimi Elektronik", "Index", "Home", new { area = "" }, new { @class = "lista" })
            <div class="header-right">
                <ul class="nav navbar-nav">
                    <li style="color:white!important">@Html.ActionLink("Nënshkruaj", "SignNew", "Home")</li>

                    <li class="lista">@Html.ActionLink("Ndrysho Password", "ChangePass", "Home")</li>
                    <li >@Html.ActionLink("Dil", "Index", "Login")</li>
                </ul>
            </div>
        </div>
    </div>
   
    <div class="container body-content">
        @RenderBody()


        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Aplikacioni i nënshkrimit elektronik në distancë</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/dropzonescripts")

    @RenderSection("scripts", required: false)

</body>
</html>
