﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/dropzonescss")
    
     
    <link rel="stylesheet" type="text/css" href="~/css/main.min.css">
    <!--===============================================================================================-->
</head>
<body>
    <header id="header" class="fixed-top">
        <div class="header gg-header gg-valign-middle">
            <div class="container gg-headerheight">
                <div class="row gg-align--middle gg-headerheight">
                    <div class="col-sm-8 py-xs-3">
                        
                        <span style="
                                    color: white;
                                    font-family: &quot;Segoe UI&quot;, Tahoma, Helvetica, Sans-Serif;
                                    font-size: 30px;
                                    border-left-color: #ed174e;
                                    border-left-style: solid;
                                    border-left-width: 3px;
                                    padding-left: 10px;
                                ">
                            Platforma e nënshkrimit elektronik
                        </span>

                        <div id="pnlCurrentDate">

                            <div class="clearfix gg-date">
                                @DateTime.Now.Date.ToString("dd/MM/yyyy")

                            </div>
                    </div>
                    <div class="col-sm-4 text-sm-right">
                        <div class="dropdown mb-2 d-inline-block-xs mr-xs-4">

                        </div>


                    </div>
                </div>
            </div>
        </div>



    </header>

  

    <div class="container body-content">
        @RenderBody()

    </div>
    
        <footer class="footer gg-footer">
            <div class="container">
            </div>
        </footer>
    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/dropzonescripts")

    @RenderSection("scripts", required: false)

</body>
</html>
