﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        .header {
            overflow: hidden;
            background-color: #f1f1f1;
            padding: 20px 10px;
        }

            .header a {
                float: left;
                color: black;
                text-align: center;
                padding: 12px;
                text-decoration: none;
                font-size: 18px;
                line-height: 25px;
                border-radius: 4px;
            }

                .header a.logo {
                    font-size: 25px;
                    font-weight: bold;
                }

                .header a:hover {
                    background-color: #ddd;
                    color: black;
                }

                .header a.active {
                    background-color: dodgerblue;
                    color: white;
                }

        .header-right {
            float: right;
        }

        @@media screen and (max-width: 500px) {
            .header a {
                float: none;
                display: block;
                text-align: left;
            }

            .header-right {
                float: none;
            }
        }
    </style>
    
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="header">
            @Html.ActionLink("Remote Signing", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <div class="header-right">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Nënshkruaj", "Sign", "Home")</li>

                    <li>@Html.ActionLink("Ndrysho Password", "ChangePass", "Home")</li>
                    <li>@Html.ActionLink("Dil", "ChangePass", "Home")</li>
                </ul>
            </div>
        </div>
    </div>


        <div class="container body-content">
            @RenderBody()


            <hr />
            <footer></footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
