﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/dropzonescss")

    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css">

   

    <link rel="stylesheet" type="text/css" href="~/css/main.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/bundle-global.min.css">
    <!--===============================================================================================-->
</head>
<body>
    <nav class="navbar h-100 navbar-expand-md navbar-dark bg-dotted bg_primary white-text-color" id="ealb-primary-navbar">
        <button class="navbar-toggler ealb-navbar-toggle text-center collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"><span><img src="/images/logo.svg" class="w-25 align-self-center" style="min-width: 50px;" alt=""></span></button><div class="navbar-toggler ealb-navbar-toggle w-100 text-center" style="font-size: 1em;">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link align-self-center white-hover px-0" href="/Profile"><img src="/images/profil.svg" style="width: 12px" class="mr-2">@Session["Name"] @Session["Lastname"]
                    </a>
                </li>
                <li class="nav-item mx-2 d-none d-sm-none d-md-block d-lg-block d-xl-block">
                    <a class="nav-link test align-self-center px-0">
                        |
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link align-self-center white-hover px-0" href="/Login">
                        Dil
                    </a>

                </li>
            </ul>
        </div>

        <div class="navbar-collapse ealb-navbar-collapse collapse hide" id="navbarCollapse">
            <div class="container safari_only white-text-color">
                <div class="row"><div class="col my-2"><p class="float-md-right d-none d-sm-none d-md-block" style="font-size: 12px;"></p></div></div>
                <!--    <div class="row">
                <div class="col">
                    <div class="float-md-right">@Html.ActionLink("Dil", "Index", "Login")</div>
                    <div class="float-md-right"> </div>
                    <div class="float-md-right">@Session["Name"]  @Session["Lastname"] <strong>&nbsp; | &nbsp; </strong> </div>
                    <div class="float-md-right">
                        <a class="nav-link align-self-center white-hover px-0" href="/Pages/MySpace.aspx"><img src="/images/profil.svg" style="width: 12px" class="mr-2">@Session["Name"]  @Session["Lastname"]</a>
                    </div>
                </div>
            </div>


            <div class="d-flex flex-column flex-sm-column flex-md-row flex-lg-row flex-xl-row justify-content-start justify-content-md-center justify-content-lg-start">
                <div class="p-2">@Html.ActionLink("NËSHKRIMI ELEKTRONIK", "SignNew", "Home")  </div>
                @*<div class="p-2"> @Html.ActionLink("NDRYSHO FJALËKALIM", "ChangePass", "Home")</div>*@
                <div class="p-2"> @Html.ActionLink("PROFILI", "Index", "Profile")</div>


            </div>
            -->


                <div class="d-flex flex-column flex-sm-column flex-md-row flex-lg-row flex-xl-row align-items-center flex-wrap justify-content-md-center" style="
    margin: 0px 0px 20px 0px;
">
                    <div class="p-2 bd-highlight" style="
    align-items: left;
    left: 0;
    float: left;
    /* padding-left: 10px !important; */
    width: 80%;
">
                        <a class="font-weight-bold white-hover" href="/Home/SignNew" style="
    color: white;
    font-family: &quot;Segoe UI&quot;, Tahoma, Helvetica, Sans-Serif;
    font-size: 25px;
    border-left-color: #ed174e;
    border-left-style: solid;
    border-left-width: 3px;
    padding-left: 10px;
    font-weight: normal !important;
">Platforma E Nenshkrimit Elektronik<span class="sr-only">(current)</span></a>
                    </div><div class="bd-highlight d-none d-sm-none d-md-block" style="
    float: right;
    width: 20%;
">
                        <ul class="navbar-nav" style="
    float: right;
">
                            <li class="nav-item"><a class="nav-link align-self-center white-hover px-0" href="/Profile"><img src="/images/profil.svg" style="width: 12px" class="mr-2">@Session["Name"] @Session["Lastname"] </a></li>
                            <li class="nav-item mx-2 d-none d-sm-none d-md-block d-lg-block d-xl-block"><a class="nav-link test align-self-center px-0">|</a></li>
                            <li class="nav-item"><a class="nav-link align-self-center white-hover px-0" href="/Login">Dil</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </nav>




    <div class="container body-content">
        @RenderBody()

    </div>

  

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/dropzonescripts")

    @RenderSection("scripts", required: false)

</body>
</html>
