﻿@model RemoteSigning.Models.Profile
@{
    /**/
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Kryesore.cshtml";

    string emri = ViewBag.user.Emri ?? "";
    string mbiemri = ViewBag.user.Mbiemri ?? "";
    string nr_cel = ViewBag.user.Nr_cel ?? "";
    string email = ViewBag.user.Email ?? "";
    string nid = ViewBag.user.NID ?? "";
}

<br />

<div class="gg-headertext">
    Profili
</div>
<hr />

<style>
    .modal {
        text-align: center;
    }

    @@media screen and (min-width: 768px) {
        .modal:before {
            display: inline-block;
            vertical-align: middle;
            content: " ";
            height: 100%;
        }
    }

    .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
    }
</style>
   

<div class="form-horizontal">
    @using (Html.BeginForm("Index", "Profile", FormMethod.Post, new { name = "profile" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.RNE_Person.NID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.RNE_Person.NID, new { @name = "Nid", @disabled = "disabled", @class = "form-control", Value = nid })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.RNE_Person.Emri, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.RNE_Person.Emri, new { @name = "Emri", @disabled = "disabled", @class = "form-control", Value = emri })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.RNE_Person.Mbiemri, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.RNE_Person.Mbiemri, new { @name = "Mbiemri", @disabled = "disabled", @class = "form-control", Value = mbiemri })
            </div>
        </div>
        <div id="nr_celDiv" class="form-group">
            @*@Html.LabelFor(tuple => tuple.Item1.Nr_cel, new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">Numri i Telefonit</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.RNE_Person.Nr_cel, new { htmlAttributes = new { name = "Nr_cel", placeholder = "3556xxxxxxxx",
                id = "Nr_cel",
                @class = "form-control",
                Value = nr_cel
            }
        })
                @Html.ValidationMessageFor(model => model.RNE_Person.Nr_cel, "", new { @id = "Nr_celVal", @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.RNE_Person.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RNE_Person.Email, new { htmlAttributes = new { @class = "form-control", name = "Email", placeholder = "shembull@ealbania.com", id = "Email", Value = email } })
                @Html.ValidationMessageFor(model => model.RNE_Person.Email, "", new { @id = "emailVal", @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @*@Html.LabelFor(tuple => tuple.Item3.Password, new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">Fjalëkalimi</label>
            <div class="col-md-10">
                @Html.PasswordFor(model => model.RNE_Enrolment.Password, new { @class = "form-control", name = "Password", placeholder = "Ndrysho Fjalëkalimin", id = "Password" })
                @Html.ValidationMessageFor(model => model.RNE_Enrolment.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @*@Html.LabelFor(tuple => tuple.Item3.ConfirmPassword, new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">Konfirmo Fjalëkalimin</label>
            <div class="col-md-10">
                @Html.PasswordFor(model => model.RNE_Enrolment.ConfirmPassword, new { @class = "form-control", name = "ConfirmPassword", placeholder = "Konfirmoni Fjalëkalimin e ri", id = "ConfirmPassword" })
                @Html.ValidationMessageFor(model => model.RNE_Enrolment.ConfirmPassword, "", new { @id = "cpass", @class = "text-danger" })
            </div>
        </div>
        <div class="editor-label col-md-offset-2 col-md-10r">
            <p id="passMessage">
                <i>
                    * Gjatësia e fjalëkalimit duhet të jetë minimumi 12 karaktere, të ketë minimumi një shkronjë kapitale, minimumi një karakter i vecante (#,$ etj) dhe minimumi një numer (0-9)
                </i>
            </p>
        </div>
        <div class="col-md-offset-2 col-md-10">
            <button type="button" id="ruaj" data-toggle="modal" @*data-target="#exampleModalCenter"*@ onclick="validateData(document.profile.Nr_cel,document.profile.Password,document.profile.ConfirmPassword,document.profile.Email)" class="btn ealb-btn">Ruaj</button>
        </div>
    }
</div>


<div class="modal inmodal fade" id="modal-authorize" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="auth">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.5/sweetalert2.min.css">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.5/sweetalert2.common.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.5/sweetalert2.min.js"></script>
            <style>

                #countdown {
                    position: relative;
                    margin: auto;
                    height: 40px;
                    width: 40px;
                    text-align: center;
                }

                #countdown-number {
                    color: red;
                    display: inline-block;
                    line-height: 40px;
                }

                svg {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 40px;
                    height: 40px;
                    transform: rotateY(-180deg) rotateZ(-90deg);
                }

                    svg circle {
                        stroke-dasharray: 113px;
                        stroke-dashoffset: 0px;
                        stroke-linecap: round;
                        stroke-width: 2px;
                        stroke: red;
                        fill: none;
                        animation: countdown 120s linear infinite forwards;
                    }

                @@keyframes countdown {
                    from {
                        stroke-dashoffset: 0px;
                    }

                    to {
                        stroke-dashoffset: 113px;
                    }
                }
            </style>

            <div class="modal-header">


                <h4 class="modal-title">
                    Ju lutem vendosni kodin e dërguar në numrin tuaj të telefonit.
                </h4>
                <button type="button" class="close" data-dismiss="modal" title="Close" id="iconClose">
                    <span aria-hidden="true">
                        ×
                    </span>
                    <span class="sr-only">
                        Close
                    </span>
                </button>
            </div>

            <div style="color:red; text-align:center">Koha e mbetur</div>


            <div id="countdown">
                <div id="countdown-number"></div>
                <svg>
                    <circle r="18" cx="20" cy="20"></circle>
                </svg>
            </div>

            <div style="color:red ; text-align:center">sekonda</div>
            @using (Html.BeginForm("Check", "Profile", FormMethod.Post, new { name = "authCode" }))
            {
                @*@Html.AntiForgeryToken()*@

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div class="text-danger" id="mesazhi"></div>
                        </div>
                    </div>
                    <div class="row">


                        <br />
                        <div class="col-md-12 text-center">

                            <label class="label-fat text-center" for="otp">
                                Kodi i autorizimit
                            </label>

                            <input name="kodi" id="kodi" maxlength="6" type="text" class="form-control center-block" @*required="required"*@ placeholder="Plotësoni kodin e autorizimit" style="text-align:center">

                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12 text-center">

                            <input type="submit" value="Konfirmo" class="btn ealb-btn center-block" id="btnKonfirmo" />

                        </div>
                    </div>
                </div>
            }
            </div>
    </div>

    @section scripts{
        <script>
               
                $('#iconClose').on('click', function () {
                    location.reload();
                });

                // Konfirmo numrin
            $('#btnKonfirmo').on('click', function (e) {
                e.preventDefault();
                    var token = $("#authCode input[name='__RequestVerificationToken']").val();
                    var kodi = $('#kodi').val();
                    console.log(kodi);
                    
                    $.ajax({
                        type: 'POST',
                        url: "/Profile/Check",
                        data: {
                            '__RequestVerificationToken': token,
                            'kodi': kodi
                        },
                        success: function (result) {

                            if (result === "true") {

                                var conf = confirm('Jeni i sigurt qe doni te perditsoni te dhenat?');


                                if (conf == true) {
                                    // nqs shtypet ok bejm formen submit dhe ruajm te dhenat
                                    document.profile.submit();
                                } else {
                                    // perndryshe i japim reload faqes pa bere ndryshime
                                    location.reload();
                                }
                            }
                            else if ($("#kodi").val() === "") {
                                $("#mesazhi").html("Plotëso fushën e kodit");
                                sweetAlert({
                                    title: "<small>Kujdes!</small>",
                                    text: "Plotëso kodin për të vazhduar me veprimin",
                                    html: "Plotëso kodin për të vazhduar me veprimin",
                                    type: "error"
                                });
                            } else if (result === "expired") {
                                $('#mesazhi').html("Koha e kodit ka mbaruar");
                                sweetAlert({
                                    title: "<small>Kujdes!</small>",
                                    text: "Koha e kodit ka mbaruar",
                                    html: "Koha e kodit ka mbaruar",
                                    type: "error"
                                });

                            } else if (result === "false") {
                                $('#mesazhi').html("Kodi nuk është i saktë");
                                sweetAlert({
                                    title: "<small>Kujdes!</small>",
                                    text: "Kodi nuk është i saktë",
                                    html: "Kodi nuk është i saktë",
                                    type: "error"
                                });

                            } else {
                                $('#mesazhi').html("Gabim!");
                                sweetAlert({
                                    title: "<small>Kujdes!</small>",
                                    text: "Dicka Shkoi Gabim",
                                    html: "Dicka Shkoi Gabim",
                                    type: "error"
                                });
                            }
                        },
                        error: function () {
                            $('#mesazhi').html("Gabim: Dicka Shkoi Gabim");
                            sweetAlert({
                                title: "<small>Kujdes!</small>",
                                text: "Dicka Shkoi Gabim",
                                html: "Dicka Shkoi Gabim",
                                type: "error"
                            });
                        }
                    });
                });


                function clearItems() {
                    $("#kodi").val('');
                    $("#mesazhi").html('');
                }

                // Gjenero numer kur klikon butonin ruaj
                function requestToGenerateNumber() {
                    //$('#ruaj').attr('data-target', '#exampleModalCenter');
                    $('#ruaj').attr('data-target', '#modal-authorize');
                    $.ajax({
                        type: 'POST',
                        url: "/Profile/GenerateNumber",
                        success: function (result) {
                            //alert(result);
                        },
                        error: function () {
<<<<<<< HEAD
                            alert("Gabim ne gjenerimin e kodit!");
=======
                            //alert("Gabim Nuk u generua nr!");
>>>>>>> 566ff4c738d0e9995fdc19299880f1c8963de375
                        }
                    });
                    clearItems();
                }

                


                var myvar = 0;

                // Valido te dhenat pas klikimit te buttonit ruaj
            function validateData(nrTel, pass, cpass, email) {

                    var TelRegex = /^((355(67|68|69)\d{7})){1}$/;
                    var PassRegex = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,49}$/;
                    //var EmailRegex =  /[A-Z0-9._%+-]+
         //[A - Z0 - 9. -] +\.[A - Z]{ 2, 4 } /igm;
      

                    //Valido nrTel
                    if (nrTel.value === "") {
                        $('#Nr_celVal').html('<span class="field-validation-valid text-danger">Ploteso numrin e telefonit*</span>');
                    } else if (!nrTel.value.match(TelRegex)) {
                        $('#Nr_celVal').html('<span class="field-validation-valid text-danger">Numri i telefonit eshte ne format te gabuar</span>');
                    } else {
                        $('#Nr_celVal').html('<span></span>');
                    }

                    //Valido email
                    if (email.value === "") {
                        $('#emailVal').html('<span class="field-validation-valid text-danger">Ploteso Emailin*</span>');
                    } else if (!email.value.match(EmailRegex)) {
                        $('#emailVal').html('<span class="field-validation-valid text-danger">Email eshte ne format te gabuar (example@domain.com)</span>');
                    } else {
                        $('#emailVal').html('<span></span>');
                    }

                    // Rasti kur plotsohen fushat e passwordit
                    if (pass.value != "" || cpass.value != "") {
                        if (!pass.value.match(PassRegex)) {
                            $('#passMessage').css('color', '#dc3545');
                        }
                        else if (pass.value.match(PassRegex)) {
                            $('#passMessage').css('color', 'black');
                            if (pass.value === cpass.value) {
                                if (nrTel.value.match(TelRegex) && nrTel.value.length === 12) {
                                    $('#cpass').html('<span></span>');

                                    requestToGenerateNumber();
                                } else {
                                    $('#cpass').html('<span></span>');
                                }
                            } else {
                                $('#cpass').html('<span class="field-validation-valid text-danger">Fjalëkalimet nuk përputhen</span>');
                            }

                        } else {
                            $('#passMessage').css('color', 'black');
                        }

                    }
                    // Rasti kur nuk plotsohen fushat e passwordit
                    else {
                        //Valido nrTel
                        if (nrTel.value === "") {
                            $('#Nr_celVal').html('<span class="field-validation-valid text-danger">Plotësoni Numrin e Telefonit*</span>');
                        } else if (!nrTel.value.match(TelRegex)) {
                            $('#Nr_celVal').html('<span class="field-validation-valid text-danger">Ju lutem, plotësoni Numrin e Telefonit në formatin e duhur! (3556xxxxxxxx)</span>');
                        } else {
                            $('#Nr_celVal').html('<span></span>');
                        }

                        //Valido email
                        if (email.value === "") {
                            $('#emailVal').html('<span class="field-validation-valid text-danger">Ploteso Emailin*</span>');
                        } else if (!email.value.match(EmailRegex)) {
                            $('#emailVal').html('<span class="field-validation-valid text-danger">Email eshte ne format te gabuar (example@domain.com)</span>');
                        } else {
                            $('#emailVal').html('<span></span>');
                        }

                        if (nrTel.value.match(TelRegex) && email.value.match(EmailRegex) && nrTel.value.length === 12) {
                            requestToGenerateNumber();
                        } else {
                            $('#cpass').html('<span></span>');
                        }
                    }

                    var countdownNumberEl = document.getElementById('countdown-number');
                    var countdown = 120;
                    clearInterval(countdownNumberEl);
                  
                    $("#mesazhi").text("");


                            countdownNumberEl.textContent = countdown;

                            myvar = setInterval(function () {
                                countdown = --countdown <= 0 ? 120 : countdown;
                                console.log(countdown);
                                if (countdown == 1) {

                                    clearInterval(myvar);
                                    countdownNumberEl.textContent = 120;
                                    location.reload();

                                }
                                else {
                                    countdownNumberEl.textContent = countdown;

                                }

                            }, 1000);

                            // Generate number
                            requestToGenerateNumber();

                        } else {
                            $('#cpass').html('<span></span>');
                        }
                    }

                } // end validateData

        </script>
    }
</div>


